@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.star-container {
  font-size: 40px;
}
.star {
  padding: 5px;
  color: gray;
  cursor: pointer;
}
.star-filled {
  color: #ffdf00;
}
